.about-w3imgs {
    padding: 0;
    overflow: hidden;
}
.col-md-4{
    position:relative;
    min-height:1px;
}


@media (max-width: 991px)
{
    .about-w3imgs {
    float: left;
    width: 33.33%;
}
}

.about img {
    width: 100%;
}

.img-responsive{
    display:block;
    max-width:100%;
    height:auto;
}

.callbacks_container {
    float: left;
    width: 100%;
}

.testi-slider{
    padding: 4em 2em 3em;
    background:#3399cc;
    margin-top:18px;
}
.car{
    font-size: 15px;
}

.col-md-3{
    position: relative;
    min-height: 1px;
    padding-right:10px;
}

