.slider-h3 {
  font-size: 40px;
  font-weight: 200;
  padding: 130px;
  font-style:italic ;
}

.slider-p {
  font-size: 25px;
  font-style: italic;
}

.d-block w-100 {
  object-fit: "cover";
}

.overflow {
  overflow: hidden;
}
.text-left {
  text-align: left!important;
}
.slider-animated-1 h1 {
  animation-delay: 1.3s;
  animation-name: fadeInUp;
}
.animated1 {
  margin-bottom: 180px;
  font-weight: 600;
  font-size: 44px;
  font-family: Lobster,cursive;
  line-height: 1;
  font-style: italic;
  margin-left: 10px;
}
.slider-animated-1 .animated1{
  animation-duration: 1s;
  animation-fill-mode: both;
}


.carousel-indicators {
  display: none;
}

.carousel-control-next-icon {
  display:none;
}