
@media (max-width: 991px)
{
    .products-left {
    padding: 0;
    margin-bottom: 24px;
}
}
.categories, .new-products {
    border: 1px solid #999;
}
.categories h2 {
    font-size: 1.5em;
    color: #212121;
    margin: 0;
    padding: 0.5em;
    background: #f5f5f5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}
h1, h2, h3, h4, h5, h6, a ,link{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 700;
}
.col-md-8{
    position:relative;
    min-height:1px;
}
.categories ul li a {
    color: #999;
    text-decoration: none;
}
link{
    color: #999;
}
.fa-arrow-right{
    color:#fe9126;
    
}
