/* Shine */
.hover14 figure {
  position: relative;
}
.hover14 figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.hover14 figure:hover::before,
.top_brand_left:hover .hover14 figure::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.column div.agile_top_brand_left_grid {
  position: relative;
  margin: 0;
}

.agile_top_brand_left_grid {
  position: relative;
  display: block;
}
.agile_top_brand_left_grid {
  background: #ffffff;
  padding: 0.5em;
  position: relative;
}
.agile_top_brand_left_grid_pos {
  position: absolute;
  top: 0%;
  right: 0%;
}
.agile_top_brand_left_grid1 {
  padding: 1em;
}
.agile_top_brand_left_grid1 img {
  margin: 0 auto;
}

.agile_top_brand_left_grid1 p {
  color: #212121;
  margin: 1.5em 0 1em;
  line-height: 1.5em;
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
}
.agile_top_brand_left_grid1 h4,
.agileinfo_single_right_snipcart h4 {
  font-weight: 600;
  font-size: 1em;
  color: #212121;
  text-align: center;
}
.agile_top_brand_left_grid1 h4 span,
.agileinfo_single_right_snipcart h4 span {
  font-weight: 300;
  text-decoration: line-through;
  padding-left: 1em;
}

.snipcart-details {
  text-align: center;
  margin: 1.5em auto 1em;
  width: 77%;
}
.snipcart-details input.button {
  font-size: 14px;
  color: #fff;
  background: #3399cc;
  text-decoration: none;
  position: relative;
  border: none;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  padding: 0.5em 0;
  outline: none;
}
.agile_top_brand_left_grid:hover .snipcart-details input.button,
.snipcart-details input.button:hover {
  background: #fe9126;
}
.column div.agile_top_brand_left_grid {
  position: relative;
  margin: 0;
}
.agile_top_brand_left_grid figure {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: hidden;
  z-index: 0;
}

.agile_top_brand_left_grid1 img {
  margin: 0 auto;
  border: none;
  margin-top: 8px;
}

.newproducts-w3agile {
  padding: 15px 0;
  /* background: #f5f5f5; */
}

.top-brands h2,
.newproducts-w3agile h3,
.login h2,
.register h2,
.faq-w3agile h3,
.brands h3 {
  text-align: center;
  color: #212121;
  padding-bottom: 0.5em;
  position: relative;
  text-transform: uppercase;
}
.agile_top_brands_grids {
  margin-top: 40px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}

