.col-md-8, .col-md-4 {
  position: relative;
  min-height: 1px;
}
.products-right-grids {
  margin-bottom: 2em;
}
@media (max-width: 320px) {
  .sorting {
    width: 51%;
  }
}

@media (max-width: 480px) {
  .sorting {
    width: 44%;
  }
}

.sorting {
  float: right;
  width: 35%;
}

select#country,
select#country1 {
  border: 1px solid #212121;
  outline: none;
  font-size: 14px;
  color: #212121;
  padding: 0.5em;
  width: 100%;
  cursor: pointer;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
@media (max-width: 320px) {
  .sorting-left {
    width: 47%;
    margin-right: 2%;
  }
}

@media (max-width: 480px) {
  .sorting-left {
    width: 42%;
  }
}

.sorting-left {
  float: right;
  margin-right: 2em;
  width: 25%;
}
@media (max-width: 667px){
    .agile_top_brands_grids {
        margin-top: 2em;
    }
}


.agile_top_brands_grids {
    margin-top: 40px;
}

@media (max-width: 320px){
    .top_brand_left {
        padding: 0;
    }
}

@media (max-width: 667px){
    .top_brand_left {
        width: 100%;
        margin-bottom: 3%;
    }
}

@media (max-width: 991px){
    .top_brand_left {
        float: left;
        width: 33.33%;
    }
}

@media (max-width: 320px) {
    .products {
        padding: 2em 0;
    }
}

@media (max-width: 768px){
    .products {
        padding: 3em 0;
    }
}

.products {
    padding: 5em 0;
}

.col-md-4{
    position:relative;
    min-height:1px;
}

@media (min-width: 992px){
    .col-md-4 {
        width: 33.33333333%;
    }
}


@media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}

@media (min-width: 992px){
    .col-md-8 {
        width: 66.66666667%;
    }
}


@media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}
.products-right-grids {
    margin-bottom: 2em;
}
.sorting {
    float: right;
    width: 35%;
}

select#country, select#country1 {
    border: 1px solid #212121;
    outline: none;
    font-size: 14px;
    color: #212121;
    padding: 0.5em;
    width: 100%;
    cursor: pointer;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.sorting-left {
    float: right;
    margin-right: 2em;
    width: 25%;
}
.agile_top_brands_grids {
    margin-top: 40px;
}
@media (min-width: 992px){
.col-md-4 {
    width: 33.33333333%;
}
}

@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
