
a{
color: #414142;
text-decoration: none;
}
link{
  color:#414142;
  text-decoration: none;;
}
.category-item {
  border-radius: 7px;
  border: 1px solid white;
}
.category-item:hover {
  border: 1px solid #fe9126;
}

.category-link:hover {
  cursor: pointer;
}

.category-img :hover {
  cursor: pointer;
}

.description {
  position: absolute;
  width: 400px;
  margin-left: 30px;
}

.category-title {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 12px;
  line-height: 1;
}

.category-link {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1;
  display: inline-block;
}

.category-link:hover {
  color: #fe9126;
}

.category-arrow {
  margin-left: 10px;
}

.productCount {
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1;
  display: block;
  margin-bottom: -16px;
}

.category-section {
  margin-top: 5rem;
}
.category-header {
  font-size: 24px;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 0 15 px;
  text-align: center;
}

.category-desciption {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin-top: 10 px;
}

.category-sectiontitle {
  margin-bottom: 30px;
}

.category-header h2{
color: #414142;
font-size: 40px;
font-family: 'Raleway', sans-serif
}